<div class="main">
    <div class="chat">
     <div class="container">

        <div class="chat-container-a">
            
            <div class="textzone"> 
                <p class="name">tsuchi<span> 2020/08/17</span></p>
                <p class="toukou1">本当は</p>
            </div>

            <div class="buttons">
                <ul>
                    <li><a href="#">edit</a></li>
                    <li><a href="#">delete</a></li>
                </ul>
            </div>

        </div>

         <div class="chat-container-a">
            
            <div class="textzone"> 
                <p class="name">tsuchi<span> 2020/08/17</span></p>
                <p class="toukou1">パン</p>
            </div>

            <div class="buttons">
                <ul>
                    <li><a href="#">edit</a></li>
                    <li><a href="#">delete</a></li>
                </ul>
            </div>

        </div>

         <div class="chat-container-a">
            
            <div class="textzone"> 
                <p class="name">tsuchi<span> 2020/08/17</span></p>
                <p class="toukou1">食べたい</p>
            </div>

            <div class="buttons">
                <ul>
                    <li><a href="#">edit</a></li>
                    <li><a href="#">delete</a></li>
                </ul>
            </div>

        </div>


      </div>  
    </div>


    <div class="chat-form">
        <input type="text" class="hako">
        
        <input type="submit" value=SEND class="send-botton"></li>
    </div>
</div>