// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "./color";

.main {
    
    height: calc(100vh - 80px);  // vhは「viewport height」の略で、viewport の高さ（ブラウザの高さ）に対する指定です。100vhで表示しているスマホやPCのウィンドウサイズの100%という意味になります 
    width: 100%;
    .chat {
        padding: 0 20px;    
        height: calc(100vh - 160px);
        background-color: rgb(198, 215, 224);
        position: relative;

      .container {
        margin-left: auto;
        margin-right: auto;
        top:200;    
        bottom: 100;
            width: 85%;
            max-height: calc(100vh - 170px);
            overflow-y: auto;

        .chat-container-a {
            max-height: calc(100vh - 170px);
   
            margin-bottom: 5px;
            
            overflow-y: auto;
            background-color:rgb(227, 228, 231);
            text-decoration-color: black;
            
            
        }

        .buttons {
            margin-right:20px;
            float:right
        }

            .buttons {
                margin-right:20px;
                float:right;
                margin-left: auto;
                margin-right: auto;
                position: relative;
                ul {
                    list-style: none;
                    li {
                        background-color: #928400;
                        border-radius: 5px;
                        
                         
                        a {
                            
	                        right:30px;
                            padding-top:30px;
                            padding-bottom:30px;
                            padding: .6em 3em;
                            margin: 10px  5px ;
                            color: black;
                            font-weight: bold;
                            text-decoration: none;
                      
                    
                        }
                        &:hover {
                            opacity: 0.4;
                        }
                    }
                }
            }
        
            p {
                color: white;
                font-size: 14px;
                font-weight: normal;
                margin-left: 1em;
                text-decoration-color: black;
            }

                
               

                .message {
                    background-color: #f2f2f7;
                    text-decoration-color: black;
                }
     }

    }   
    
    
    .chat-form {
        height: 80px;
        padding: 15px;
        background-color: #7298e9;
        position: relative;
        border: none;    
    

        

        .hako {
            width: 80%;
            padding: 0.5em;
            font-size: 18px;
        }


        
        .send-botton {
            background-color: gold;
            border-radius: 5px;
            margin-left: 1em;
            height: 50px;
            width: 100px;
            
            a {
                padding: .7em 2em;
                color: $main-color;
                font-weight: bold;
                text-decoration: none;
                width: 100%;
                display: block;
            }
            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }
            

        
        

        }
    }
}